body{
    background-size: cover;
}
.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}
#status, #number_of_objects, #start{
    font-size:18px;
}
.copy_right_footer{
    position:fixed;
    color: rgb(42, 128, 113);
    bottom:0;
    width:100%;
    background-color:rgb(206, 201, 201);
    line-height:3;
    text-align:center;
}
canvas{
    border:2px solid rgb(141, 240, 210);
    border-radius: 10px;
    margin-top: 130px;
    box-shadow:5px 5px 5px rgb(24, 15, 61);
}
#finder{
    width: 300px;
    background-color: rgb(196, 205, 247);
}